/* overordnede regler for styling */
* {
    box-sizing: border-box;
}

body {
    background-color: transparent;
    margin: 0;
}

footer {
    padding-top: 4vw;
    width: 100%;

}

footer h1 {
    font-family: 'Raleway', sans-serif;
    border-bottom: 1px solid black;
    font-size: 20px;

}

footer p {
    font-family: 'Montserrat', sans-serif;
}

.soME {
    display: inline-block;
    margin-right: 10px;
}



footer {
    width: 360px;
    margin: 0 auto;
}

footer a {
    color: black;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

footer a:hover {
    text-decoration: underline;
}

form {
    background-color: transparent;
}

#tilmeld {
    width: 70%;
    padding: 8px;
    color: #F18FAB;
    border: none;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid white;
}

#email {
    color: black;
    padding: 8px;
    width: 70%;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid white;
    background-color: transparent;
}

@media screen and (min-width:627px) {
    footer {
        width: 500px;
    }
}

@media screen and (min-width:768px) {

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 40px;
        width: 620px;
        margin: 0 auto;
    }

}

@media screen and (min-width:1024px) {

    footer {
        width: 850px;

    }

}

@media screen and (min-width:1200px) {

    footer {
        width: 900px;

    }

}

@media screen and (min-width:1500px) {

    footer {
        width: 1000px;

    }

}
