/* generelle regler*/
body{
    margin: 0;
}

.punkter{
    font-family: 'Raleway', sans-serif;
}

/* Styling af navigation i mobilstørrelse */

#logo img{
    width: 30%;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    position: relative;
    z-index: 11;
}

.sideNav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #F8DDCF;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sideNav a{
    text-decoration: none;
    padding: 8px 8px 8px 32px;
    font-size: 20px;
    color: #F18FAB;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid black;
}

.topNav{
  display: none;
}

/* styling af topnav til ipad og desktop*/

@media screen and (min-width:768px){
    #sideMenu, .sideNav, .closebtn, span, #logo{
        display: none;
    }

    #logo1 img{
    width: 70%;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    z-index: 1;
}
    #topMenu{
        display: flex;


        overflow: hidden;
        width: 100%;
        height: 60px;
        float: right;
        position: relative;
        z-index: 3;
        border-bottom: 1px solid #F18FAB
    }



    #topMenu a{

        font-size: 1.2em;
        color: #F18FAB;
        text-align: center;
        padding: 10px 10px;
        text-decoration: none;

    }

    .punkter{
        margin-top: 20px;
        width: 200%;
    }



}

@media screen and (min-width:1024px){

    .punkter{
        width: 80%;
    }

    #logo1 img{
        width: 35%
    }
}


@media screen and (min-width:1200px){

    .punkter{
        width: 50%;
    }

    #logo1 img{
        width: 25%
    }
}
