/*Overordnede regler for styling*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(baggrund.jpg);
    width: 100%;

}

h1 {
    font-family: 'Raleway', sans-serif;

}

p {
    font-family: 'Montserrat', sans-serif;
}

/* Mobile first version*/

main {
    width: 290px;
    margin: 0 auto;
    padding-top: 2vw;
}

/* style til top icon*/

.fas {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 5;
    cursor: pointer;

}

#container1 img {
    width: 100%;
}

/*Media queries til mobile landscape*/

@media screen and (min-width:627px) {
    main {
        width: 400px;
    }


    /*Media queries til tablet portrait*/
    @media screen and (min-width:768px) {
        main {
            width: 600px;
        }

        main {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto auto auto;

        }

        #container {
            grid-column: 1/1;
            grid-row: 1/2;
            width: 289px;
            margin: 0 auto;
            padding-left: 3vw;
            padding-right: 3vw;
            padding-top: 3vw;
            padding-bottom: 1vw;

        }

        #container1 {
            grid-column: 2/3;
            grid-row: 1/3;
            width: 289px;
            margin: 0 auto;
            padding-left: 3vw;
            padding-right: 3vw;
            padding-top: 11vw;
            padding-bottom: 1vw;

        }

        #container1 img {
            width: 100%;
        }

        /*.linje{
        grid-column: 2/2;
        grid-row: 1/1;
        width: 1px;
        height: 300px;
        background-color:  #F18FAB;
        margin-top: 55px;

    }*/
        #container3 {

            grid-column: 1/3;

            padding-right: 3vw;
            padding-left: 3vw;

            margin-top: 10px;



        }

        /*  .linje1{
        width: 450px;
        height: 1px;
        background-color:  #F18FAB;
        grid-column: 1/3;
        grid-row: 2/3;
        margin-left: 70px;

    }*/
    }

    /*Media queries til tablet landscape*/
    @media screen and (min-width:1024px) {
        main {
            width: 750px;
        }

        #container {
            width: 375px;
        }

        .linje {
            margin-top: 60px;
        }

        #container1 {
            width: 375px;
            margin-top: -6vw;

        }

        #container1 img {
            width: 100%
        }

        #container3 {
            width: 750px;
        }

        .linje1 {
            width: 500px;
            margin-top: 25px;
            margin-left: 90px;
            width: 600px;
        }


    }

    /*Media queries til 1200px bredde*/
    @media screen and (min-width:1200px) {
        main {
            width: 900px;
        }

        #container {
            width: 450px;
            padding-top: 60px;
            padding-right: 65px;
        }

        #container1 {
            width: 450px;
            padding-left: 120px;
        }

        #container3 {
            width: 900px;
        }

        .linje1 {
            width: 700px;
            margin-top: 40px;
        }

        .linje {
            margin-left: 30px;
            margin-top: 70px;
        }
    }

    /*Media queries til 1500px bredde*/
    @media screen and (min-width:1500px) {
        main {
            width: 1000px;
        }

        #container {
            width: 500px;
            margin-top: 60px;


        }

        #container1 {
            width: 500px;

        }

        #container3 {
            width: 1000px;
        }
        .linje1 {
            width: 850px;
            margin-top: 50px;
        }

        .linje {
            margin-top: 90px;
        }

    }
