body {
    margin: 0;
    background-color: #F8DDCF;
}

main {
    width: 290px;
    margin: 0 auto;
}

main iframe{
    width: 100%;
    height: 400px;
}

main h1{
    font-family: 'Raleway', sans-serif;

}

main p{
    font-family: 'Montserrat', sans-serif;
}

#container a{
    color: #F18FAB;
    text-decoration: none;
}

#container a:hover{
    text-decoration: underline;
}

#main_grid{
    padding-top: 2vw;
}


/*Media queries til mobile landscape*/

@media screen and (min-width:627px){
    main{
        width: 500px;
    }


}

/*Media queries til tablet portrait*/

@media screen and (min-width:768px){
    main{
        width: 600px;
    }

    #main_grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        padding-top: 12vw;

    }
        #container{
        width: 250px;

    }

    #container1{
        width: 340px;

    }
}

/*Media queries til tablet landscape*/

@media screen and (min-width:1024px){
    main{
        width: 750px;
    }

     #main_grid{
        grid-gap: 20px;

    }

        #container{
        width: 250px;

    }

    #container1{
        width: 480px;

    }


}

/*Media queries til 1200px bredde*/

@media screen and (min-width:1200px){
    main{
        width: 900px;
    }

         #container{
        width: 250px;

    }

    #container1{
        width: 630px;

    }
}

/*Media queries til 1500px bredde*/

@media screen and (min-width:1500px){
    main{
        width: 1000px;
    }


}

