/*Overordnede regler for styling*/
*{
    box-sizing: border-box;
}
body {
    background-image: url(wall3.jpg);
}

/* Mobile first version*/

main {
    width: 290px;
    margin: 0 auto;
}

main img{
    width: 100%;
    border: 15px solid white;
}

/* style til top icon*/
.fas{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 5;
    cursor: pointer;

}

/*Media queries til mobile landscape*/

@media screen and (min-width:627px){
    main{
        width: 500px;
    }

    main img{

    }
}

/*Media queries til tablet portrait*/

@media screen and (min-width:768px){
    main{
        width: 600px;
    }

    main img{

    }
}

/*Media queries til tablet landscape*/

@media screen and (min-width:1024px){
    main{
        width: 750px;
    }

    main img{

    }
}

/*Media queries til 1200px bredde*/

@media screen and (min-width:1200px){
    main{
        width: 900px;
    }

    main img{

    }
}

/*Media queries til 1500px bredde*/

@media screen and (min-width:1500px){
    main{
        width: 1000px;
    }

    main img{

    }
}

