body {
   margin: 0;
    background-image: url(1.jpg);
    background-size: 100%;
}

main {
    width: 360px;
    margin: 0 auto;
    padding-top: 60px;
}

main h1{
    font-family: 'Raleway', sans-serif;

}

main p{
    font-family: 'Montserrat', sans-serif;
}

.image{
    width: 100%;
    border: 8px solid white;

}

.data-container{
    font-family: 'Montserrat', sans-serif;
}

.kobnu{
    border: none;
    background-color: transparent;
    border: 1.5px solid #F18FAB;
    padding: 4px;
    width: 100%;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}


/*Media queries til mobile landscape*/

@media screen and (min-width:627px){
    main{
        width: 500px;
    }


}

/*Media queries til tablet portrait*/

@media screen and (min-width:768px){
    main{
        width: 620px;
        padding-top: 100px;
    }
    .data-container{
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 30px;
        width: 620px;

    }

    .image{
        width: 310px;
        margin-top: 20px;


    }

    .information{
        width: 310px;

    }

    .pris{
        padding-bottom: 20px;
    }



}

/*Media queries til tablet landscape*/

@media screen and (min-width:1024px){
    main{
        width: 850px;
    }



}

/*Media queries til 1200px bredde*/

@media screen and (min-width:1200px){
    main{
        width: 900px;
    }


}

/*Media queries til 1500px bredde*/

@media screen and (min-width:1500px){
    main{
        width: 1000px;
    }


}

