/* Overordnede regler for styling*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(1.jpg);
    background-size: 100%;
}



main {
    width: 360px;
    margin: 0 auto;
    padding-top: 60px;
}

.fa-arrow-up {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 5;
    cursor: pointer;

}

/* MOBILE VERSION FIRST */

/* filtrerings dropdown knap*/

#filtrering {
    display: none;
}

.dropknap {
    background-color: transparent;
    color: #F18FAB;
    padding: 12px;
    background-color: white;
    border: none;
    cursor: pointer;
    width: 360px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}



.dropdown {
    position: relative;
    display: inline-block;
}

.content {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1;
    width: 360px;
}

.menu_item {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #F18FAB;
}


.visContent {
    display: block;
}


/* grid opsætning af smykker/produkter*/

.smykker {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 2vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.smykker img {
    width: 100%;
    border: 4px solid white;
}

.koeb {
    border: none;
    background-color: white;
    color: #F18FAB;
    padding: 4px;
    width: 100%;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}

.menu_item {
    background-color: transparent;
    border: none;
    color: #F18FAB;
    cursor: pointer;
    padding-right: 40px;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;



}

.menu_item:hover {
    border-bottom: 1px solid #F18FAB;
}

.knapper {
    font-family: 'Raleway', sans-serif;
}


@media screen and (min-width:627px) {
    main {
        width: 500px;
        padding-top: 100px;
    }

    .content {
        width: 500px;
    }

    .dropknap {
        width: 500px;
    }
}




@media screen and (min-width:768px) {
    main {
        width: 620px;
        margin: 0 auto;
    }

    .dropdown {
        display: none;
    }

    .smykker {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        margin-top: 100px;

    }

    .smykker img {
        width: 100%;
        border: 4px solid white;


    }
    nav {
        top: 0;
        width: 530px;
        border-bottom: 1px solid #F18FAB;
        border-top: 1px solid #F18FAB;
        background-color: transparent;
        float: right;
    }

    .menu_item {
        padding-left: 10px;
        padding-right: 15px;
    }

    .knapper {
        display: flex;
        justify-content: center;


    }

    #filtrering {
        display: block;
    }


}

/*Media queries til tablet landscape*/

@media screen and (min-width:1024px) {
    main {
        width: 850px;

    }


    nav {
        width: 615px;


    }

    .menu_item {
        padding-left: 20px;
        padding-right: 20px;


    }


}

/*Media queries til 1200px bredde*/

@media screen and (min-width:1200px) {
    main {
        width: 900px;
    }

    nav {
        width: 635px;


    }



}

/*Media queries til 1500px bredde*/

@media screen and (min-width:1500px) {
    main {
        width: 1000px;
    }


    nav {
        width: 45%;
    }

}
