* {
    box-sizing: border-box;
}

body {
    background-color: #F8DDCF;
    margin: 0;
}



main {
    width: 290px;
    margin: 0 auto;
    padding-top: 2vw;
}

/* filtrerings dropdown knap*/
#filtrering{
    display: none;
}

.dropknap{
    background-color: transparent;
    color: #F18FAB;
    padding: 16px;
    border: 1px solid #F18FAB;
    cursor: pointer;
    width: 150px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.dropknap:hover{
    color: black;
    background-color: #F18FAB;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.content{
    display: none;
    position: absolute;
    background-color: transparent;
    border: 1px solid #F18FAB;
    width: 150px;
    z-index: 1;
}

.menu_item{
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #F18FAB;
}

.content a:hover{

}

.visContent{
    display: block;
}


/* grid opsætning af smykker/produkter*/
.smykker {
    display: grid;
    grid-gap: 20px;
    margin-top: 2vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.smykker img {
    width: 100%;
    border: 8px solid white;
}

.koeb{
    border: none;
    background-color: transparent;
    border: 1.5px solid #F18FAB;
    padding: 4px;
    width: 100%;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

 .menu_item {
        background-color: transparent;
        border: none;
        color: #F18FAB;
        cursor: pointer;
        padding-left: 40pxw;
        padding-right: 40px;
     padding-top: 10px;;

    }

.knapper{
    font-family: 'Raleway', sans-serif;
}



@media screen and (min-width:627px) {
    main {
        width: 400px;
    }
    .smykker img {}

}




@media screen and (min-width:768px) {
    main {
        width: 600px;
        margin: 0 auto;
    }

    .dropdown{
        display: none;
    }

    .smykker {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        margin-top: 80px;
    }

    .smykker img {
        width: 100%;
        border: 8px solid white;


    }
    nav {
        top: 0;
        width: 100%;
        border-bottom: 1px solid #F18FAB;
        background-color: #F8DDCF


    }

    .knapper {
        width: 600px;
        margin: 0 auto;
        display: flex;
        justify-content: center;


    }

    #filtrering{
        display: block;
    }


}

/*Media queries til tablet landscape*/

@media screen and (min-width:1024px) {
    main {
        width: 750px;

    }


    .knapper {
        width: 750px;

    }


}

/*Media queries til 1200px bredde*/

@media screen and (min-width:1200px) {
    main {
        width: 900px;
    }

    .knapper{
        width: 900px;
    }


}

/*Media queries til 1500px bredde*/

@media screen and (min-width:1500px) {
    main {
        width: 1000px;
    }

    .knapper{
        width: 1000px;
    }

}
